


.banner_box{
    width: 100%;
    min-width: 1200px;
    height: 883px;
    background: url('../images/index/banner_di.png') no-repeat;
    background-size: auto 100%;
    margin: 0 auto;
    margin-bottom: 320px;
}
.banner{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    
}

/* ===============输入框 */
.header_input{
    width: 398px;
    height: 54px;
    border-radius: 25px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.input_kw{
    width: 70%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 30px;
}
.input_btn{
    display: inline-block;
    width: 134px;
    height: 48px;
    border-radius: 25px;
    line-height: 46px;
    background: #1e78e6;
    text-align: center;
    color: #fff;
    margin-right: 2px;

}
.input_jiantou{
    display: inline-block;
    background: url(../images/index/jiantou_btn.png);
    background-size: 100% 100%;
    width: 13px;
    height: 9px;
    margin-left: 8px;   
}
.yuan{
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: -25%;
    border-radius: 100%
}
.neiyuan{
    width: 100%;
    height: 100%;
    position: relative;
}
.yuan  img{
    width: 80%;
}
.yuan a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
#zhongxin{
    width: 163px;
    height: 163px;
    z-index: 10;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13.5%;
    margin-left: -12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.neiyuan > div{
    transition: all .3s linear
}
.neiyuan > div>div{
    z-index: 999;
}
#zhongxin img{
    width: 77px;
    height: 77px;
}


#yuan1{
    width: 353px;
    height: 504px;
    position: absolute;
    top: -45%;
    right: -10%;
    z-index: 1;
}
#yuan1>div{
    width: 200px;
    height: 100px;
    position: absolute;
    /* border: 1px solid #000; */
    top: 15%;
    right: 40%;
}


#yuan2{
    width: 320px;
    height: 449px;
    position: absolute;
    top: -36%;
    left: 56px;
    /* z-index: 2; */
}
#yuan2>div{
    width: 150px;
    height: 100px;
    position: absolute;
    /* border: 1px solid #000; */
    top: 15%;
    right: 27%;
    transform: rotate(155deg)
}
#yuan3{
    width: 377px;
    height: 263px;
    position: absolute;
    top: 0px;
    left: 8px;
    /* z-index: 3; */
}
#yuan3>div{
    width: 120px;
    height: 100px;
    position: absolute;
    /* border: 1px solid #000; */
    top: 30%;
    right: 55%;
    transform: rotate(120deg)
}
#yuan4{
    width: 373px;
    height: 231px;
    position: absolute;
    top: 50%;
    left: 60px;
    /* z-index: 4; */
}
#yuan4>div{
    width: 100px;
    height: 135px;
    position: absolute;
    /* border: 1px solid #000; */
    top: 0%;
    right: 60%;
    /* transform: rotate(120deg) */
}
#yuan5{
    width: 224px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 167px;
    /* z-index: 5; */
}
#yuan5>div{
    width: 115px;
    height: 80px;
    position: absolute;
    /* border: 1px solid #000; */
    top: 40%;
    right: 25%;
    
}
#yuan6{
    width: 201px;
    height: 278px;
    position: absolute;
    top: 50%;
    left: 338px;
    /* z-index: 6; */
}
#yuan6>div{
    width: 80px;
    height: 100px;
    position: absolute;
    /* border: 1px solid #000; */
    top: 30%;
    right: 48%;
    transform: rotate(-25deg);
    
}
#yuan7{
    width: 259px;
    height: 184px;
    position: absolute;
    top: 50%;
    left: 340px;
    /* z-index: 7; */
}
#yuan7>div{
    width: 80px;
    height: 100px;
    position: absolute;
    /* border: 1px solid #000; */
    top: 5%;
    right: 40%;
    transform: rotate(-45deg)
}
#yuan8{
    width: 240px;
    height: 171px;
    position: absolute;
    top: 18%;
    left: 310px;
    /* z-index: 8; */
}
#yuan8>div{
    width: 75px;
    height: 80px;
    position: absolute;
    /* border: 1px solid #000; */
    top: 30%;
    right: 32%;
}




/*============================================进度条 */
.progress_box{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.index_title{
    font-size:34px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(40,40,40,1);
}
.progress{
    width: 100%;
    margin-top: 90px;
}
.progress_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.progress_title li{
    border: 1px solid transparent;
    padding: 12px 17px 10px 21px;
    border-radius: 8px;
}
.progress_title li.show_border{
    border: 1px solid #0184D6;
}
.progress_title li a{
    font-size:15px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(40,40,40,1);
}
.progress .progress_r{
    width: 100%;
    height: 44px;
    background: url('../images/index/progress.png');
    position: relative;
    margin-top: 50px;
}
.fenduan{
    width: 100%;
    height: 100%;
    display: flex;
}
.fenduan li{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.huankuai_box{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.huankuai_btn{
    width: 45px;
    height: 45px;
    background: url('../images/index/r.png');
    border-radius: 100%;
    transition: all .3s linear;
    z-index: 9;
    display: none;
    position: relative;
}
.dblock{
    display: block !important;
}
.huakuai{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100%;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    display: none;
}
.baitiao{
    width: 10%;
    display: inline-block;
    height: 1px;
    background: url('../images/index/baitiao.png');
    position: absolute;
    top:50%;
    left: 0;
    margin-top: 1px;
    z-index: 1;
    transition: all .3s linear;
}

/* ====================================展示 */
.zhanshi_box,.fun_list_box,.project_box,.industry_box,.pattern_box{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 140px;
    position: relative;
}
.zhanshi_cont{
    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(40,40,40,1)
}
.zhanshi_dongxiao{
    height: 555px;
    border: 1px solid #ccc;
}

/* ===================================功能展示 */
.fun_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fun_list .fun_item{
    width: 240px;
    text-align: left;
    margin-right: 120px;
    margin-top: 148px;
}
.fun_list .fun_item:nth-child(3n){
    margin-right: 0;
}
.fun_item_t{
    font-size:30px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(1,132,214,1);
    margin-top: 45px;
    margin-bottom: 30px;
    white-space: nowrap;
}
.fun_item_c{
    font-size:20px;
    color:rgba(40,40,40,1);
}

/* ======================================= */
.project_list{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 80px;
    padding: 28px 0;
}
.project_item{
    width:234px;
    height: 286px;
    margin-right: 8px;
    background: #e5f0f7;
    padding: 50px 60px;
    text-align: left;
    transition: all .3s linear;
    cursor: pointer;
    /* background-image: url('../images/index/item1.png') */
    
   
}
 .project_item p,.project_item h2{
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    filter: blur(0)
 }
.m_scale{
   transform: scale(1.2);
}
.project_item:nth-child(2n){
    background: #f9fafe
}
.project_item h2,.project_item p{
    font-family:Microsoft YaHei;
    color:rgba(40,40,40,1);
}
.project_item h2{
    font-size:18px;
    font-weight:400;
    line-height:24px;
    margin-bottom: 27px;
    white-space: nowrap;
    text-align: center;
}
.project_item p{
    font-size:14px;
    font-weight:300;
    line-height: 30px;
    text-align: center;
}



/* ================= */
.jian_bian_tiao{
    width: 100vw;
    height: 255px;
    background: url('../images/index/setiao@2x.png');
    transform: translateY(60%);
    z-index: -2;
    overflow: hidden;
}

/* ================================行业 */
.industry{
    width: 100%;
    height: 560px;
    position: relative;
    margin-top: 68px;
}
.industry_img{
    width: 100%;
    height: 100%;
}
.industry_img img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.industry_content{
    width: 340px;
    margin-left: 290px;
    text-align: left;
    position: relative;
    bottom: -61px;
    z-index: 10;
}
.industry_content .i_t{
    font-size:26px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:43px;
}
.industry_content .i_c{
    font-size:16px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:31px;
    margin-top: 55px;
    margin-bottom: 47px;
}
.industry_content .i_btn{
    display: block;
    width: 150px;
    height: 32px;
    border:1px solid rgba(255,255,255,1);
    text-align: center;
    line-height: 32px;
    font-size:16px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.industry_btn{
    width: 150px;
    height: 100%;
    position: absolute;
    left: 0; 
    top: 0;
    background: url('../images/index/hangye.png');
    z-index: 9;
}
.industry_btn>div{
    font-size:24px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(40,40,40,1);
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s linear;
    cursor: pointer;
}
.industry_btn>div.btn_show{
    width: 288px;
    background: url('../images/index/hangye_bg.png') no-repeat;
    position: relative;
    left: -50%;
    color: #0184D6;
    font-size: 34px;
    line-height: 190px;
    transition: all .3s linear;
    
}
.btn_show i{
    display: inline-block;
    width: 12px;
    height: 29px;
    background:url("../images/index/jiantou.png");
   position: absolute;
   right: 13%;
}

/* ================================格局 */

.pattern{
    width: 100%;
    padding: 0 24px;
    height: 715px;
    display: flex;
    align-items: center
}
.pattern_left{
    width: 552px;
    height: 715px;
    padding: 66px 130px 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s linear;
}
.pattern .shuxian{
    display: block;
    width: 2px;
    height: 589px;
    background: url('../images/index/geju_shuxian.png')
}

.pattern_left_bg{
    background: url('../images/index/geju_bg.png');
}