/*=============主题============================= */




/* =========header结束============== */

.content{
    width: 100%;
    height: 550px;
    margin: 0 auto;
}
.content_title_box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 40px;
    box-sizing: border-box;
}
.content_title_box .content_title{
    text-align: left;
    display: inline-block;
    width: 240px;
    height: auto;
    position: absolute;
    top: 120px;
}
.content_title_box .content_title h2{
    font-size:42px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    white-space: nowrap;
}
.content_title_box .content_title p{
    font-size: 24px;
    color: #fff;
    margin: 40px 0;
    white-space: nowrap;
}
.tiyan_btn{
    display: inline-block;
    width:159px;
    height:46px;
    border-radius:23px;
    text-align: center;
    line-height: 46px;
    font-size: 16px;
    font-weight: 400;
}
/* =============背景部分结束==================== */
.carousel_bg{
    width: 1200px;
    background: url('../images/OA/carousel_bg.png');
    background-size: 100% 100%;
    height: 730px;
    margin:  0 auto;
    margin-top: 40px;
    padding: 40px 70px 0px;
    text-align: center;
}
.carousel_bg h2{
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 15px;
}
.carousel_bg p{
    font-size: 16px;
    color:rgba(1,1,1,1);
    font-weight: 300;
    width: 640px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.carousel{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    margin-top: 55px;
}
.swiper-container {
    width: 900px;
    height: 500px;
    margin: 0 auto;
    margin-top: 55px;
}  
/* ================================================ */
.OA_detail_container,.brand_container{
    width: 100%;
    height: auto;
    min-width: 1200px;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
}
.OA_detail{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding-top: 100px;
    overflow: hidden;
    margin-bottom: 80px;
}
.OA_card{
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 110px; */
    align-items: center;
    height: 500px;
}
.OA_reverse{
    flex-direction: row-reverse;
    padding-right:0px !important;
    padding-left: 120px !important;
}
.OA_card_left{
    width: 230px;
    text-align: left;
}
.OA_card .OA_card_right img{
    
}
.OA_card .OA_card_left .OA_title{
    font-size:28px;
    font-weight: 400;
    color: #000;
}
.OA_card .OA_card_left .OA_subtitle{
    color:rgba(30,120,230,1);
    font-size:18px;
    font-weight:400;
    margin:30px 0;
}
.OA_card .OA_card_left .OA_content{
    font-size: 16px;
    font-weight:300;
    color:rgba(1,1,1,1);
    line-height: 26px;
}


