/* ================================== */
#footer{
    width: 100%;
    height: auto;
}
.brand_container{
    margin-top: 0;
}
.brand{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    
}
.brand_content{
    height: 364px;
    width: 100%;
    background: #fff;
    margin-top: 95px;
    display: flex;
}
.brand_content_img{
    width: 50%;
    height: 100%;
}
.brand_content_img img{
    width: 100%;
    height: 100%;

}
.brand_content_detail{
    width: 50%;
    height: 100%;
    padding: 45px 65px 0px;
    text-align: left;
}
.brand_content_detail .f_c,.brand_content_detail .f_s{
    line-height:31px;
    font-size:19px;
    font-weight:300;
    color:rgba(53,54,59,1);
}
.brand_content_detail .f_t{
    font-size:21px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(0,0,0,1);
    line-height:31px;
    margin-top: 50px;
    margin-bottom: 16px;
}
.brand_btn{
    margin:0 20px;
    margin-top: 60px;
    
}
.brand_btn  ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.brand_btn  ul li{
    width: 20%;
}
.brand_btn  ul li img{
    /* width: 100%; */
    cursor: pointer;
}
/* =================================== */
.footer{
    width: 100%;
    min-width: 1200px;
    background: rgba(24,38,60,1);
    height: 388px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 60px 0;
}
.footer_detail{
    width: 850px;
    height: 226px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.fun{
    width: 20%;
    line-height: 2;
}
.fun li a{
    color: #E5E5E5;
    font-size: 14px
}
.fun li img{
    width: 106px;
    height: 106px;
    margin-top: 10px;
}
.fun li:first-child{
    margin-bottom: 10px;
}
.fun li:first-child a{
    font-size: 16px;
    color: #fff;
}

.record{
    width: 845px;
    border-top:1px solid rgba(255,255,255,.25);
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.record div:first-child{
    width: 110px;
    height: 30px;
}
.record div:first-child img{
    width: 100%;
    height: 100%;
}
.record .rec{
    border-left: 1px solid rgba(255,255,255,.25);
    padding-left: 24px;
    
}
.record .rec p{
    color: #E5E5E5;
    font-size: 12px
}
