.primary{
    color: #1E78E6
}
.bg_primary{
    background: #1E78E6
}

.opcity{
    opacity: 0;
}

*{
    box-sizing: border-box;
}

.contianer{
    box-sizing: border-box;
    width: 100%;
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#header{
    width:1200px;
    min-width: 1200px;
    height: 58px;
}
.header{
    box-sizing: border-box;
    width:1200px;
    /* height: 56px; */
    margin:  0 auto;
    /* padding: 0 40px; */
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px;
    z-index: 999;
     background: transparent;
}
.header::after{
    content: "";
    display: block; 
    clear: both;
}
.header .logo_box{
    width: 120px;
    margin: 12px 0;
    float: left;
}
.header .logo_box img{
    width: 100%;
}
.menu_box{
    height: 100%;
    display: flex;
    float: left;

}
.menu_box>li{
    height: 100%;
    padding: 0 16px;
    line-height: 57px;
    font-size: 14px;
    color:#fff;
    position: relative;
    opacity: 0.5;
   
}
.menu_box>li:hover{
    opacity: 1;
    font-weight: bold
}
.menu_box>li .blue_border{
    transition: all .5s linear;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: url("../images/index/border.png")
}
.phone{
    float: right;
    display: flex;
    height: 100%;
    align-items: center;
}
.phone a{
    display: inline-block;
    width:83px;
    height:28px;
    border:1px solid #fff;
    border-radius:14px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
}
.phone p{
    font-weight:400;
    height: 100%;
    line-height: 57px;
    margin-left: 30px;
    color: #fff;
}
.phone p i{
    width: 23px;
    height: 23px;
    display:inline-block;
    background: url(../images/OA/phone.png);
    background-size: 100% 100%;
    position: relative;
    top: 5px;
    margin-right: 7px;
    /* transform: scale(1.1) */
}
.hover_menu{
    width: 117px;
    /* height: 177px; */
    position: absolute;
    left: 0;
    top: 57px;
    background: url("../images/index/shoumebu.png") ;
    background-size: 100% 100%;
    padding: 13px 0 18px 0;
    z-index: 10;
    display: none;
}
.hover_menu>li{
    height: 28px;
    width: 100%;
    font-size:14px;
    font-family:Microsoft YaHei;
    color:rgba(0,0,0,1);
    line-height: 28px;
    font-weight: 300;
}
.hover_menu>li>a{
    margin-left: 29px;
    color: #000;
}
.hover_menu>li.show{
    background: #E5F0F7
}
.showmenu{
    display: block !important;
}