.primary{
    color: #1E78E6
}
.bg_primary{
    background: #1E78E6
}


*{
    box-sizing: border-box;
}
.contianer{
    box-sizing: border-box;
    width: 100%;
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.header{
    box-sizing: border-box;
    width:1200px;
    /* height: 56px; */
    margin:  0 auto;
    padding: 0 40px;
}
.header::after{
    content: "";
    display: block; 
    clear: both;
}
.header .logo_box{
    width: 120px;
    margin: 12px 0;
    float: left;
}
.header .logo_box img{
    width: 100%;
}
.menu_box{
    height: 100%;
    display: flex;
    float: left;

}
.menu_box li{
    height: 100%;
    padding: 0 16px;
    line-height: 57px;
    font-size: 14px;
    color:rgba(99,103,110,1);
}
.phone{
    float: right;
    display: flex;
    height: 100%;
    align-items: center;
}
.phone a{
    display: inline-block;
    width:83px;
    height:28px;
    border:1px solid rgba(30,120,230,1);
    border-radius:14px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
}
.phone p{
    font-weight:400;
    height: 100%;
    line-height: 57px;
    margin-left: 30px;
}
.phone p i{
    width: 23px;
    height: 23px;
    display:inline-block;
    background: url(../images/OA/phone.png);
    position: relative;
    top: 5px;
    margin-right: 7px;
}